body {
background-color:rgb(255, 255, 255);
}

/*navigation bar*/
ul {
font-family: 'Arial';
position: absolute; top: 0.5%;
list-style-type: none;
margin-left: 50%;
overflow: hidden;
font-size: small;
font-weight: bold;}

li {
float:left;
}
  
li nav {
display: block;
color: rgb(38, 34, 34);
text-align: center;
padding-right: 10%;
padding:40px;
text-decoration: none;
}
  
li nav:hover:not(.active) {
color: rgb(72, 112, 135);
}

a:link {
  color: rgb(64, 70, 70);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
    color: rgb(64, 70, 70);
    background-color: transparent;
  text-decoration: none;
}

a:hover {
  color:rgb(72, 112, 135);
  background-color: transparent;
}

.active {
  background-color: transparent;
  padding-top: 20px;
  border-bottom: 2px solid rgb(26, 150, 150);

}

/*top divider*/
.divider {
    height:1px;
    display: block;
    border-width:0;
    width: 95%;
    margin:auto;
    margin-top: 7%;
    background-color:rgb(207, 214, 214);
}
/*body*/
.content{
    font-family: Georgia, 'Times New Roman', Times, serif;
    position:fixed; top:37%; left:8%;
    color: rgb(35, 36, 40);
    font-size: 25px; 
 }
.me{
    font-family: Arial, Helvetica, sans-serif;
    position:fixed; top:60%; left:14%; 
    font-size: 14px;
    font-weight: lighter;
    line-height: 20px;
    color: rgb(146, 152, 153);
}
.portrait{
    position:fixed; top:12%;
    margin-left: 45%;
}
